<!DOCTYPE html>
<html>
    <head>
        <script src=""></script>
        <script src=""></script>
        <script type="" src=""></script>
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <h2></h2>
            <ul class="">
                <li ng-repeat="">
                    <input type="" ng-model="">
                    <span class=""></span>
                </li>
            </ul>
            <form class="">
                <input type="text" ng-model="" ng-model-instant>
                <button class="btn" ng-click=""><i class=""></i>ACTION1</button>
            </form>

            <button class="" ng-click=""><i class=""></i>ACTION2</button>
        </div>
    </body>
</html>
